{% extends "_templates/_form.html" %}

{% set pageHeading %}
  Edit – {{ school.schoolName }}
{% endset %}

{% set formAction = "./confirm" %}

{% set backText = "Back" %}
{# {% set backLink = '/home' %} #}
{#
{% set returnLink = {
  text: 'Cancel',
  href: './../' + uuid
} %} #}

{% block formContent %}

{% set isAccreditingProvider = school | providerIsAccrediting %}

{# Get placement (if it exists) from existing data #}

{# Merge with temp store #}
{% set schoolTemp = school | mergeObjects(data.schoolTemp) %}

{% set schoolTemp = school | setAttribute('name', school.schoolName) %}
{% set schoolTemp = school | setAttribute('type', school.type) %}

{# set providerTemp = providerTemp | setAttribute('type', provider | getProviderTypeString(true)) #}
{% set schoolTemp = school | setAttribute('lead', school.isLeadSchool) %}

{% set schoolTemp = school | setAttribute('urn', school.urn) %}
{% set schoolTemp = school | setAttribute('ukprn', school.ukprn) %}

{# {{data | log}} #}
{{schoolTemp | log}}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukInput({
  label: {
    text: "Name",
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds"
}| decorateAttributes(schoolTemp, "schoolTemp.schoolName"))}}

{{ govukInput({
label: {
text: "School type",
classes: "govuk-label--s"
},
classes: "govuk-!-width-two-thirds"
}| decorateAttributes(schoolTemp, "schoolTemp.type"))}}


{{ govukRadios({
  fieldset: {
    legend: {
      text: 'Is a lead school?',
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      text: "Yes",
      value: "Yes",
      checked: checked("if isLeadSchool Yes", "Yes")
    },
    {
      text: "No",
      value: "No",
      checked: checked("if isLeadSchool No", "No")
    }
  ]
} | decorateAttributes(schoolTemp, "schoolTemp.lead")) }}



{{ govukInput({
label: {
text: "URN",
classes: "govuk-label--s"
},
classes: "govuk-!-width-two-thirds"
}| decorateAttributes(schoolTemp, "schoolTemp.urn"))}}

  {{ govukInput({
    label: {
      text: "UKPRN",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  }| decorateAttributes(schoolTemp, "schoolTemp.ukprn"))}}

{{ govukButton({
  text: "Continue"
}) }}


{% endblock %}

