{% extends "_templates/_guidance-page.html" %}

{% set pageHeading = 'Registering trainees directly in this service' %}

{% block guidanceContent %}

# Register trainees through HESA (Higher Education Statistics Agency)

Training providers that use HESA can register their trainees by submitting data through the HESA data collection system.

Your trainee data will then be imported into the Register trainee teachers service (Register).

You’ll be able to view or export trainee data, including your trainees’ teacher reference numbers (TRNs).

[Find out when you should submit your trainee data](/guidance/dates-and-deadlines).

{% include "_includes/guidance/training-status-homepage.md" %}

{% set detailsContent %}

{% include "_includes/guidance/training-status-homepage.md" %}
{% endset %}

## Check data imported into Register from HESA

You can check your trainee data once it has been imported into Register. At any time you can:

* export a CSV file listing your trainees from the ‘Registered trainees’ section, using the ‘academic year’ or ‘start year’ filter to select the current academic year
* check your trainees directly in the service one by one

In the CSV export from the ‘Registered trainees’ section, we’ve included a column called ‘hesa_updated_at’ which shows you the last time a record was updated through HESA. Use this column to check that all your new trainees have imported into Register from HESA.

You can also export CSV files from the ‘Reports’ section when you need to sign off your:

* new trainees for the census in October
* trainee outcomes from the previous academic year for performance profiles in January





## Adding specific information to a trainee record

### How Register defines ‘withdrawn’ and ‘deferred’ trainees

A ‘deferred’ trainee in Register is a trainee who is registered on a course but then decides to defer to a later date or academic year. In Register, trainees can be deferred if they have started their ITT course or if they never start their ITT course.

In HESA a ‘dormant’ trainee means the same as ‘deferred’ in Register. You can record deferred trainees in HESA by using the [Student.MODE field](https://www.hesa.ac.uk/collection/c22053/e/mode).

A ‘withdrawn’ trainee in Register is a trainee that is registered on an ITT course, started that course, but then decides to withdraw from the course, or the qualified teacher status (QTS) part of the course, and will not return.

In HESA, withdrawn trainees are recorded by using the [Student.ENDDATE field](https://www.hesa.ac.uk/collection/c22053/e/enddate) and the [Student.RSNEND field](https://www.hesa.ac.uk/collection/c22053/e/rsnend).

### Expected end date for trainees

HESA has added a new field in their collection for the 2022 to 2023 academic year called ‘expected end date’ ([EXPECTEDENDDATE](https://www.hesa.ac.uk/collection/c22053/e/expectedenddate)).

The Register service requires this field to issue TRNs and for funding purposes. You must fill out this field in HESA, it will then import into Register as ‘ITT end date’.

You should keep this field up to date throughout the trainee’s training.


<!-- commenting out as we deal with this in the HESA mapping, however we could add it back if neeeded
### New trainee start dates

If a new trainee starts their course on or before the second Wednesday in October, you must add their trainee start date using the [COMDATE field](https://www.hesa.ac.uk/collection/c22053/e/comdate) in HESA.

If the trainee starts their training late, you should also fill in the [ITTCOMDATE field](https://www.hesa.ac.uk/collection/c22053/e/ittcomdate) if it’s different from the COMDATE.

If a trainee does not start their training at all, and will never start, you do not need to include them in your HESA submission.
-->

<!-- commenting out as this is not possible to view in Register yet.
{% include "_includes/guidance/placements.md" %}

{% set detailsContent %}

{% include "_includes/guidance/placements.md" %}
{% endset %}

-->

## Recommending a trainee for Qualified Teacher Status (QTS) or Early Years Teacher Status (EYTS)

When a trainee has successfully completed their training (or completed their assessment for an ‘assessment only’ route) and met the required standards, you can recommend them for QTS or EYTS in the Teaching Regulation Agency (TRA) portal.

{% set detailsContent %}
Once you’ve recommended a trainee for QTS or EYTS, you’ll find their record by going to the ‘Awarded this year’ training status on the Homepage. You can also filter by ‘Awarded’ on the records list page.

{% endset %}

{{ govukDetails({
  summaryText: "How to find a trainee once you‘ve recommended them for QTS or EYTS",
  html: detailsContent
}) }}

{% endblock %}
