{% extends "_templates/_page.html" %}

{% set navActive = 'bulk' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}

{# Remaining trainees #}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}
{# {% set traineesThatCanBeRecommended = 0 %} #}

{# Sets numbers for errors summary #}
{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "updated") %}

{# Get an array of the trainees #}
{% set processedTrainees = processedRows | lodash("map", "trainee") %}

{% set pageHeading = "File uploaded successfully" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      File uploaded
    </h3>
    {% endset %}

    {{ govukNotificationBanner({
    html: html,
    type: "success"
    }) }}
    </div>
    
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <p class="govuk-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacinia ex. Maecenas et tempus mi, in ornare urna. In tincidunt nec eros eget suscipit. Proin rhoncus viverra nisi.
      </p>
      <p class="govuk-body">
        Proin sit amet tortor aliquam, maximus felis vitae, viverra urna. Vivamus gravida sapien pulvinar lectus sollicitudin malesuada.
      </p>

      {{ govukButton({
      "text": "Submit file data",
      href: "confirmation-processed.html"
      }) }}

      <p class="govuk-body"><a href="index" class="govuk-link">Cancel and return to task list</a></p>

      {{data | log}}
    </div>
  </div>

{% endblock %}
