{% extends "_templates/_page.html" %}

{% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
  {% set backText = "Upload funding information" %}
  {% set backLink = '/support/funding/index' %}
  {% set bulkRecommendOnly = true %}
{% endif %}

{% set navActive = "funding" %}

{% set pageHeading = "Upload lead school trainee funding payments" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

        <p class="govuk-body">You can upload a CSV file to make monthly funding payments available to trainees at lead schools.</p>

        <form action="confirmation-upload" method="post" novalidate>

          <ol class="govuk-list govuk-list--number">
            <li>
              {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                  text: "Upload the CSV file."
                },
                attributes: {
                  "accept": ".csv"
                }
              }) }}
            </li>

          </ol>

          <input name="successFlash" type="hidden" value="File uploaded">

          {{ govukButton({
            text: "Upload the file"
          }) }}
        </form>

    </div>
  </div>



{% endblock %}
