{% extends "_templates/_page.html" %}

{% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
  {% set backText = "Home" %}
  {% set backLink = '/home' %}
  {% set bulkRecommendOnly = true %}
{% endif %}

{% set headingLevel = "h3" if bulkRecommendOnly else "h2" %}

{% set filePath = "/public/downloads/recommendOnly.csv" %}

{% set navActive = "funding" %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set traineeCount = traineesThatCanBeRecommended | length %}
{# {% set traineeCount = 0 %} #}

{% set needAcademicAward = traineesThatCanBeRecommended | filterByAcademicQualificationsApply %}

{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% set pageHeading = "Upload trainee summary" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Last completed: 30/09/2023</span>
        {{ pageHeading }}
      </h1>


        <p class="govuk-body">You can upload a CSV file to recommend multiple trainees for qualified teacher status (QTS) or early years teacher status (EYTS).</p>

        <form action="confirmation-upload" method="post" novalidate>

          <ol class="govuk-list govuk-list--number">
            <li><a class="govuk-link--no-visited-state" href="/downloads/bulk-update/recommendOnly.csv" download="{{ data.signedInProviders | slugify }}.csv">Download a CSV file listing {{traineeCount}} trainees you can recommend</a>.
            </li>

            <li>Fill in the date when each trainee met the {{qualifications}} standards. If a trainee has not met the standards, either delete the row or leave the date column blank.</li>

            <li>
              {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                  text: "Upload the CSV file."
                },
                attributes: {
                  "accept": ".csv"
                }
              }) }}
            </li>

          </ol>

          {% set guidanceLink %}
            <a href="/guidance/bulk-recommend-trainees" class="govuk-link">guidance about bulk recommending trainees</a>
          {% endset %}

          {% set insetTextHtml %}
            <p class="govuk-body">You cannot use this upload to make other changes to a trainee’s record. Read {{ guidanceLink | safe }} to find out how to make changes and what to do if trainees have withdrawn or deferred.</p>
          {% endset %}

          {{ govukInsetText({
            html: insetTextHtml
          }) }}

          <input name="successFlash" type="hidden" value="File uploaded">

          {{ govukButton({
            text: "Upload the file"
          }) }}
        </form>

    </div>
  </div>



{% endblock %}
